 <!-- ======= Contact Us Section ======= -->
 <section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Registrar Entrada</h2>
    </div>

    <div class="row">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-lg-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Documento" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-lg-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Nombre" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>

          <div class="text-center"><button type="submit">Enviar</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Us Section -->
